<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SpiroWeb-20151018060335.mdf;Initial Catalog=aspnet-SpiroWeb-20151018060335;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--CERTOS-->
    <!--<add name="SpiroStockManagementEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp117.webserver.pt;initial catalog=SpiroStockManagement;persist security info=True;user id=Spiro;password=NI/+70#_gUW4JGE;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="server=cp117.webserver.pt;database=SpiroStockManagement;uid=Spiro;password=NI/+70#_gUW4JGE;" providerName="System.Data.SqlClient" />-->
    <!--CERTOS-->
    <!--CERTOS MYCLOUD-->
    <add name="SpiroStockManagementEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=88.157.130.74,30237;initial catalog=lisie;persist security info=True;user id=sa;password=#Bom#Preco12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="server=88.157.130.74,30237;database=lisie;uid=sa;password=#Bom#Preco12;" providerName="System.Data.SqlClient" />
    <!--CERTOS MYCLOUD-->
    <!--<add name="SelfJungleMaestroEntities" connectionString="metadata=res://*/SelfJungleMaestroModel.csdl|res://*/SelfJungleMaestroModel.ssdl|res://*/SelfJungleMaestroModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cp117.webserver.pt;initial catalog=SelfJungleMaestro;persist security info=True;user id=SelfJungleMaestro;password=0uX?cn36;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- LOCAL -->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Lisie;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="SpiroStockManagementEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=Lisie;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Lisie;Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
</configuration>